<!DOCTYPE html>
<html>
    {{ block "head" . }}
        {{ partial "head.html" . }}
        {{ partial "meta.html" . }}
    {{ end }}

<body id="top" class="slug-{{ lower .LinkTitle }}">
    <div class="container grid-md bg-gray">
        {{ partial "navbar.html" . }}
    </div>

    <div class="container grid-md">
        {{ block "header" . }}
            {{ partial "header.html" . }}
        {{ end }}

        <div id="content">
            {{ block "main" . }}
            {{ end }}
        </div>
    </div>

    <div class="container grid-md">
        {{ block "footer" . }}
            {{ partial "footer.html" }}
        {{ end }}
    </div>
</body>
</html>
