<!DOCTYPE html>
<html>
    {{ block "head" . }}
        {{ partial "head.html" . }}
        {{ partial "meta.html" . }}
    {{ end }}

<body id="top" class="slug-{{ lower .LinkTitle }} m-0 p-0">
    <div id="container" class="container">
        {{ partial "header.html" . }}

        {{ partial "hero.html" . }}

        <div class="container grid-md">
            <div id="content">
                {{ block "main" . }}
                {{ end }}
            </div>
        </div>

        {{ partial "footer.html" . }}
    </div>
</body>
</html>
