{{ define "main" }}
    <article>
        {{ .Content }}
        
        {{/* Fixed-ordered entries first, rest second */}}
        {{ $entries := slice }}
        {{ range .Params.order }}
            {{ $entries = $entries | append ($.Site.GetPage .) }}
        {{ end }}
        {{ $entries = $entries | append ( .Data.Pages | complement $entries ) }}

        {{ $template := .Params.listtype }}
        <div class="list {{ $template }}">
            {{ range $entries }}
                {{ if ( eq $template "simple" ) }}
                    {{ partial "entry-simple.html" . }}
                {{ else }}
                    {{ partial "entry.html" . }}
                {{ end }}
            {{ end }}
        </div>
    </article>
{{ end }}
