<footer id="footer" class="text-center bg-gray p-2">
    <div class="columns">
        <div class="column col-6 col-md-12">
            <small>
                <a href="{{ "/about" | relLangURL }}">About</a> |
                <a href="{{ "/faq" | relLangURL }}">FAQ</a> |
                <a href="{{ "/support" | relLangURL }}">Support</a>
            </small>
        </div>
        <div class="column col-6 col-md-12">
            <small>
                <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC-BY-SA 4.0</a> |
                <a href="{{ "/thanks" | relLangURL }}">Thanks</a> |
                <a rel="me" href="https://mstdn.swiso.org/@switchingsoftware">@Mastodon</a>
            </small>
        </div>
        {{ with .GitInfo }}
            <div class="column col-12">
                <small><em>
                    last edited on {{ dateFormat "2006-01-02 15:04:05 MST" .AuthorDate.UTC }}
                    <br class="show-sm"/>
                    by <a href="https://codeberg.org/{{ .AuthorName }}?tab=activity" title="Profile of {{ .Subject }}" target="_blank" rel="noopener noreferrer">
                        {{ .AuthorName }}
                    </a>
                    via <a href="https://codeberg.org/swiso-en/website/commit/{{ .Hash }}" title="{{ .Subject }}" target="_blank" rel="noopener noreferrer">
                        {{ .AbbreviatedHash }}
                    </a>
                </em></small>
            </div>
        {{ end }}
    </div>
</footer>