
<header id="header" class="p-fixed bg-gray">
    <div class="container grid-md">
        <div class="navbar">
            <section class="navbar-section">
                <div class="navbar-brand mt-2">
                    <a href="{{ "/" | relLangURL }}" id="logo" class="text-dark">
                        switching.software
                    </a>
                </div>
            </section>
            <section class="navbar-section">
                <div class="dropdown dropdown-right">
                    <a href="{{ "/about" | relLangURL }}" class="btn btn-link pt-2">{{ i18n "headerAbout" }}</a>
                </div>
            </section>
        </div>
    </div>
</header>