<meta charset="utf-8" />
<title>
    {{ partial "getter/getTitle.html" . }} | 
    {{ partial "getter/getSubtitle.html" . | default .Site.Title }}
</title>
<link rel="icon" type="image/png" href="{{ "/images/favicon.png" | relURL }}">
<link rel="canonical" href="{{ .Permalink }}" />

{{ block "stylesheets" . }}
    <link rel="stylesheet" href="{{ "/css/spectre.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/spectre-icons.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}">
    {{- if .IsHome }}
        <link rel="stylesheet" href="{{ "/css/spectre-exp.min.css" | relURL }}">
    {{ end }}
{{ end }}