{{ define "main" }}
    <ul id="main-list" class="text-center ls-none">
        {{ range .Site.Taxonomies.replaces }}
            <li>
                <a href="{{ .Page.Permalink }}"><strong>{{ .Page.Title }}:</strong><br class="d-md-none"> {{ .Page.Params.Subtitle }}</a>
            </li>
        {{ end }}
        <li>---<li>
        {{ range .Site.Taxonomies.lists }}
            <li>
                <a href="{{ .Page.Permalink }}"><strong>{{ .Page.Title }}:</strong><br class="d-md-none"> {{ .Page.Params.Subtitle }}</a>
            </li>
        {{ end }}
        <li>---<li>
        {{ with .Site.GetPage "/page/about" }}
            <li>
                <a href="{{ .Page.Permalink }}"><strong>{{ .Page.Title }}</strong></a>
            </li>
            <li>
                <a rel="me" href="https://mstdn.swiso.org/@switchingsoftware"><strong>Follow on Mastodon</strong></a>
            </li>
        {{ end }}
    </ul>
{{ end }}
