{{ define "main" }}
    <div class="filter">
        <!-- hidden radio buttons for filters -->
        <input type="radio" id="tag-0" class="filter-tag" name="filter-radio" hidden checked="true">
        {{ range $i, $provider := $.Site.Params.homepage.filters }}
            <input type="radio" id="tag-{{ add $i 1 }}" class="filter-tag" name="filter-radio" hidden>
        {{ end }}

        {{ $others := add 1 ( len $.Site.Params.homepage.filters ) }}
        <input type="radio" id="tag-{{ $others }}" class="filter-tag" name="filter-radio" hidden>

        <!-- filter buttons -->
        <div class="filter-nav text-center mb-2">
            <label class="chip" for="tag-0">All</label>
            {{ range $i, $provider := $.Site.Params.homepage.filters }}
                <label class="chip" for="tag-{{ add $i 1 }}">{{ $provider | title }}</label>
            {{ end }}
            <label class="chip" for="tag-{{ $others }}">...</label>
        </div>
    
        <!-- entries -->
        <div class="filter-body columns pb-2">
            {{ range .Site.Taxonomies.replaces }}
                {{ $index := $others }}
                {{ with $provider := .Page.Params.provider }}
                    {{ range $i, $p := $.Site.Params.homepage.filters }}
                        {{ if eq $provider $p }}
                            {{ $index = add $i 1 }}
                        {{ end }}
                    {{ end }}
                {{ end }}

                <div class="column col-4 col-md-6 col-sm-12 mx-auto filter-item p-1" data-tag="tag-{{ $index }}">
                    <div class="card">
                        <a href="{{ .Page.Permalink }}" title="{{ .Page.Title }}">
                            <div class="card-header">
                                <div class="card-title text-bold">{{ .Page.Title }}</div>
                                <div class="card-subtitle text-gray">{{ .Page.Params.Subtitle }}</div>
                            </div>
                        </a>
                    </div>
                 </div>
            {{ end }}
        </div>
    </div>

    <ul id="main-list" class="text-center ls-none">
        {{ with .Site.GetPage "section" "tools" }}
            {{ range .Pages  }}
                <li>
                    <a href="{{ .Page.Permalink }}"><strong>{{ .Page.Title }}:</strong><br class="show-md"> {{ .Page.Params.Subtitle }}</a>
                </li>
            {{ end }}
        {{ end }}
        <li>---</li>

        {{ with .Site.GetPage "section" "articles" }}
            {{ range .Pages }}
                <li>
                    <a href="{{ .Page.Permalink }}"><strong>{{ .Page.Title }}</strong></a>
                </li>
            {{ end }}
        {{ end }}
        <li>
            <a rel="me" href="https://mstdn.swiso.org/@switchingsoftware"><strong>Follow on Mastodon</strong></a>
        </li>        
    </ul>
{{ end }}
