{{ define "main" }}
    <ul id="main-list" class="text-center ls-none">
        {{ range .Site.Taxonomies.replaces }}
            <li>
                <a href="{{ .Page.Permalink }}"><strong>{{ .Page.Title }}:</strong><br class="d-md-none"> {{ .Page.Params.Subtitle }}</a>
            </li>
        {{ end }}
        <li>---<li>
        {{ range .Site.Taxonomies.lists }}
            <li>
                <a href="{{ .Page.Permalink }}"><strong>{{ .Page.Title }}:</strong><br class="d-md-none"> {{ .Page.Params.Subtitle }}</a>
            </li>
        {{ end }}
        <li>---<li>
        {{ with .Site.GetPage "section" "articles" }}
            {{ range .Pages }}
                <li>
                    <a href="{{ .Page.Permalink }}"><strong>{{ .Page.Title }}</strong></a>
                </li>
            {{ end }}
        {{ end }}

        <li>
            <a rel="me" href="https://mstdn.swiso.org/@switchingsoftware"><strong>Follow on Mastodon</strong></a>
        </li>        
    </ul>
{{ end }}
