{{ $change := .GitInfo }}

{{/* For composite pages... */}}
{{ if ( or .IsHome .IsNode )}}

    {{/* .. get sub pages and ... */}}
    {{ $pages := slice }}
    {{ if .IsHome }}
        {{ $pages = $.Site.Pages }}
    {{ else if .IsNode }}
        {{ $pages := partial "getter/getPages.html" . }}
    {{ end }}

    {{/* ... find most recent change. */}}
    {{ range $pages }}
        {{ with .GitInfo }}
            {{ if ( lt $change.AuthorDate .AuthorDate )}}
                {{ $change = . }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ return $change }}