<figure class="text-center">
    <img 
        class="img-responsive mx-auto" 
        src="{{ "/" | relURL }}{{ $.Page.File.Dir }}{{ .Get "src" }}"

        {{ with .Get "width" }}
            width="{{ . }}"
        {{ end }}

        {{ with .Get "height" }}
            width="{{ . }}"
        {{ end }}

        {{ with .Get "alt" }}
            width="{{ . }}"
        {{ end }}
    >

    {{ with .Get "title" }}
        <figcaption>
            <small><em>{{ . }}</em></small>
        </figcaption>
    {{ end }}
</figure>