<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>
            <a href="/about">About us</a> - 
            <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC BY-SA 4.0</a> 
                by <a href="https://web.archive.org/web/20190915101437/https://switching.social/" target="_blank" rel="noopener">switching.social</a> - 
            <a href="https://codeberg.org/swiso-en/website" target="_blank" rel="noopener">Repository</a><br>
        </p>
        <span class="d-none"><a rel="me" href="https://mstdn.swiso.org/@switchingsoftware">Mastodon</a></span>
    </section>
</section>
